body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(235, 162, 162);
}

h1 {
    color: #333;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 10px;
}

.result {
    font-size: 24px;
    margin: 20px;
}